<include file="Public/header" />

<include file="Public/sidebar" />

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <include file="Public/searchStart" />

        <include file="Public/selectServerAll" />
        <include file="Public/selectChannelAll" />
        <include file="Public/selectDateStartEnd" />
        <include file="Public/buttonSearch" />

        <include file="Public/searchEnd" />

        <include file="Public/chart" />

        <notempty name="vGet">

            <include file="Public/tableStart" />
            <include file="Public/tableMiddle" />

            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th><{$Think.lang.level}></th>
                        <th><{$Think.lang.pay_amount}></th>
                        <th><{$Think.lang.pay_member}></th>
                        <th><{$Think.lang.pay_count}></th>
                        <th><{$Think.lang.diamond_pay_produce}></th>
                        <th><{$Think.lang.diamond_pay_recover}></th>
                        <th><{$Think.lang.diamond_free_produce}></th>
                        <th><{$Think.lang.diamond_free_recover}></th>
                        <th><{$Think.lang.gold_produce}></th>
                        <th><{$Think.lang.gold_recover}></th>
                    </tr>
                </thead>
                
                <tbody>
                
                    <foreach name="vTable" item="value" key="key" >
                        <tr>
                            <td><{$value.level}></td>
                            <td><{$value.amount}></td>
                            <td><{$value.member}></td>
                            <td><{$value.count}></td>
                            <td><{$value.diamond_pay_produce}></td>
                            <td><{$value.diamond_pay_recover}></td>
                            <td><{$value.diamond_free_produce}></td>
                            <td><{$value.diamond_free_recover}></td>
                            <td><{$value.gold_produce}></td>
                            <td><{$value.gold_recover}></td>
                        </tr>
                    </foreach>

                </tbody>

            </table>

            <include file="Public/tableEnd" />

        </notempty>

    </div>

</div>

<include file="Public/footer" />