<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript">

    $(document).ready(function(){
        $("#server_id").val(0);
        $("#tid").val('');
        $("#rank").val(5000);

        $("#rank").blur(function(){
            if(!($("#rank").val() > 0)){
                $("#rank").val(5000);
            }
        });

        $("#mainform").submit(function(){

            if($("#server_id").val() == 0){
                alert('<{$Think.lang.server_select}>');
                return false;
            }else if($("#tid").val() == ''){
                alert('<{$Think.lang.tid_input_simple}>');
                return false;
            }

            return true;

        });

    })
</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue">

                <div class="portlet-title">

                    <div class="caption"><i class="fa fa-exchange"></i><{$Think.lang.gm_arena_rank_exchange}></div>

                </div>

                <div class="portlet-body form">

                    <!-- BEGIN FORM-->
                    <form action="" method="POST" id="mainform" class="form-horizontal">

                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.server}></label>
                                <div class="col-md-9">
                                    <select class="form-control input-medium" id = "server_id" name = "server_id">
                                        <option value="0"><{$Think.lang.select_server}></option>
                                        <foreach name="vServer" item="value" key="key" >
                                            <option value="<{$key}>">
                                                <php>$i=1;</php>S<{$key}>-<foreach name="value.channel" item="val" key="k" ><eq name="i" value="1"><{$val.name}><php>$i=0;</php><else />/<{$val.name}></eq></foreach>
                                            </option>
                                        </foreach>
                                    </select>
                                    <span class="help-block"><{$Think.lang.server_select}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.tid}></label>
                                <div class="col-md-9">
                                    <input type="text"  class="form-control input-medium" id="tid" name="tid">
                                    <span class="help-block"><{$Think.lang.tid_input_simple}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.rank_behind}></label>
                                <div class="col-md-9">
                                    <input type="text"  class="form-control input-medium" id="rank" name="rank">
                                    <span class="help-block"><{$Think.lang.rank_behind_input}></span>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue"><i class="fa fa-exchange"></i>&nbsp;<{$Think.lang.exchange}></button>

                            <button type="button" class="btn" onclick="javascript:window.location.href='__URL__&p=<{$pg}>';"><i class="fa fa-undo"></i>&nbsp;<{$Think.lang.return}></button>

                        </div>

                    </form>
                    <!-- END FORM-->

                </div>

            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
        <!-- END PAGE CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer" />