<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript">
    $(document).ready(function(){
        $("#mainform").submit(function(){
            if($("#partner_group_id").val() == 0 && $("#team_id").val() == ''){
                alert('<{$Think.lang.one_condition_least}>');
                return false;
            }
            return true;
        });
    });
</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <include file="Public/searchStart" />

        <include file="Public/selectServer" />
        <include file="Public/inputTeamID" />
        <include file="Public/selectPartnerGroup" />
        <include file="Public/buttonSearch" />

        <include file="Public/searchEnd" />

        <notempty name="vGet">

            <include file="Public/tableStart" />
            <include file="Public/tableMiddle" />

            <table class="table table-striped table-bordered table-hover table-full-width">
                <thead>
                <tr>
                    <th><{$Think.lang.tid}></th>
                    <th><{$Think.lang.partner}></th>
                    <th><{$Think.lang.partner_quality}></th>
                    <th><{$Think.lang.level}></th>
                    <th><{$Think.lang.exp}></th>
                    <th><{$Think.lang.favour}></th>
                    <th><{$Think.lang.soul}></th>
                    <th><{$Think.lang.partner_force}></th>
                    <th colspan="3"><{$Think.lang.operation}></th>
                </tr>
                </thead>
                <tbody>
                <volist name="vTable" id="value">
                    <input type="hidden" id="switch<{$value.tid}>_<{$value.group}>" value="0" />
                    <tr>
                        <td><{$value.tid}></td>
                        <td><{$value.partner_name}></td>
                        <td><{$value.index}></td>
                        <td><{$value.level}></td>
                        <td><{$value.exp}></td>
                        <td><{$value.favour}></td>
                        <td><{$value.soul}></td>
                        <td><{$value.force}></td>
                        <td><a href="javascript:;" id="click<{$value.tid}>_<{$value.group}>"><{$Think.lang.detail}></a></td>
                        <td><a href="__MODULE__/UserPartnerEquip/index&server_id=<{$vGet.server_id}>&team_id=<{$value.tid}>&partner_group_id=<{$value.group}>"><{$Think.lang.equip}></a></td>
                        <td><a href="__MODULE__/UserPartnerEmblem/index&server_id=<{$vGet.server_id}>&team_id=<{$value.tid}>&partner_group_id=<{$value.group}>"><{$Think.lang.emblem}></a>
                    </tr>
                    <tr id="detail<{$value.tid}>_<{$value.group}>" style="display:none;">
                        <td class="details" colspan="100%">
                            <table class="table table-bordered table-hover table-full-width">
                                <tbody>
                                    <tr>
                                        <td width="200"><{$Think.lang.skill_level}></td>
                                        <td><{$value.skill_1_level}>|<{$value.skill_2_level}>|<{$value.skill_3_level}>|<{$value.skill_4_level}>|<{$value.skill_5_level}>|<{$value.skill_6_level}></td>
                                    </tr>
                                    <tr>
                                        <td><{$Think.lang.ctime}></td>
                                        <td><{$value.ctime}></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $("#click<{$value.tid}>_<{$value.group}>").click(function(){
                                if($("#switch<{$value.tid}>_<{$value.group}>").val() == '0'){
                                    $("#click<{$value.tid}>_<{$value.group}>").html('<{$Think.lang.close}>');
                                    $("#switch<{$value.tid}>_<{$value.group}>").val('1');
                                    $("#detail<{$value.tid}>_<{$value.group}>").show('fast');
                                }else{
                                    $("#click<{$value.tid}>_<{$value.group}>").html('<{$Think.lang.detail}>');
                                    $("#switch<{$value.tid}>_<{$value.group}>").val('0');
                                    $("#detail<{$value.tid}>_<{$value.group}>").hide('fast');
                                }
                            });
                        });
                    </script>
                </volist>
                </tbody>
            </table>

            <{$vPageBar}>
            <include file="Public/tableEnd" />

        </notempty>

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer" />