<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript">
    $(document).ready(function(){
        if('<{$vGet.item_id}>' != ''){$("#item_id").val('<{$vGet.item_id}>');}
        $("#mainform").submit(function(){
            if($("#team_id").val() == '' || $("#item_id").val() == 0){
                alert('<{$Think.lang.one_condition_least}>');
                return false;
            }
            return true;
        });
    });
</script>

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <include file="Public/searchStart" />

        <include file="Public/selectServer" />
        <select style="float: left; margin-left: 10px;" class="form-control input-medium" id="item_id" name="item_id">
            <option value="all"><{$Think.lang.all_type}></option>
            <foreach name="vItemConfig" item="value" key="key" >
                <option value="<{$key}>"><{$key}>-<{$Think.lang.$value}></option>
            </foreach>
        </select>
        <include file="Public/inputTeamID" />
        <include file="Public/buttonSearch" />

        <include file="Public/searchEnd" />

        <notempty name="vGet">

            <include file="Public/tableStart" />
            <include file="Public/tableMiddle" />

            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th><{$Think.lang.tid}></th>
                        <th><{$Think.lang.item_name}></th>
                        <th><{$Think.lang.item_change_count}></th>
                        <th><{$Think.lang.user_behave}></th>
                        <th><{$Think.lang.ctime}></th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="vTable" item="value" key="key" >
                        <tr>
                            <td><{$value.tid}></td>
                            <td><{$value.item}></td>
                            <td><{$value.count}></td>
                            <td><{$value.behave}></td>
                            <td><{$value.ctime}></td>
                        </tr>
                    </foreach>
                </tbody>
            </table>

            <{$vPageBar}>
            <include file="Public/tableEnd" />

        </notempty>

    </div>
</div>

<include file="Public/footer" />