<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#name").val('');
    $("#goods").val(0);
    $("#level").val(1);
    $("#repeat").val(1);
    $("#use_count").val(1);
    $("#use_count_diff").val(1);
    $("#lifetime").val(0);

    $("#server_type_all").attr('checked',true);
    $("#server_radio").hide('fast');

    $("#server_type_all").click(function(){
        $("#server_radio").hide('fast');
    });

    $("#server_type_check").click(function(){
        $("#server_radio").show('fast');
    });

    $("#channel_type_all").attr('checked',true);
    $("#channel_radio").hide('fast');

    $("#channel_type_all").click(function(){
        $("#channel_radio").hide('fast');
    });

    $("#channel_type_check").click(function(){
        $("#channel_radio").show('fast');
    });

    $("#goods").blur(function(){
        if(!($("#goods").val() >= 0)){
            $("#goods").val(0);
        }
    });

    $("#level").blur(function(){
        if(!($("#level").val() > 0)){
            $("#level").val(1);
        }
    });

    $("#repeat").blur(function(){
        if(!(10000 >= $("#repeat").val() && $("#repeat").val() > 0)){
            $("#repeat").val(1);
        }
    });

    $("#use_count").blur(function(){
        if(!($("#use_count").val() >= 0)){
            $("#use_count").val(1);
        }
    });

    $("#use_count_diff").blur(function(){
        if(!($("#use_count_diff").val() >= 0)){
            $("#use_count_diff").val(1);
        }
    });

    $("#lifetime").blur(function(){
        if(!($("#lifetime").val() >= 0)){
            $("#lifetime").val(0);
        }
    });

    //激活码
    $("#type").change(function(){
        $("#goods").val(0);
        if($("#type").val() == '2'){
            $("#goods").attr('disabled', true);
            $("#level").attr('disabled', true);
            $("#level").val('0');
        }else{
            $("#goods").attr('disabled', false);
            $("#level").attr('disabled', false);
            $("#level").val('1');
        }
    });

	$("#mainform").submit(function(){

        if($("#name").val() == ''){
            alert('<{$Think.lang.exchange_type_name_input}>');
            return false;
        }

        if($("#type").val() != 2 && $("#goods").val() == 0){
            alert('<{$Think.lang.exchange_type_mail_select}>');
            return false;
        }

        var flag = false;
        if($('input[name="server_type"]:checked').val() == 'check'){
            $('input[type="checkbox"][name="server[]"]').each(function(){
                if($(this).attr('checked') == 'checked'){
                    flag = true;
                }
            });
        }else{
            flag = true;
        }

        if(flag == false){
            alert('<{$Think.lang.exchange_type_server_input}>');
            return false;
        }

        return true;

	});
});
</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN SAMPLE FORM PORTLET-->

            <div class="portlet box blue">

                <div class="portlet-title">

                    <div class="caption"><i class="fa fa-plus"></i><{$Think.lang.gm_exchange_type_add}></div>

                </div>

                <div class="portlet-body form">

                    <!-- BEGIN FORM-->

                    <form action="" method="POST" id="mainform" class="form-horizontal">

                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_name}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" id="name" name="name" >
                                    <span class="help-block"><{$Think.lang.exchange_type_name_input}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_type}></label>
                                <div class="col-md-9">
                                    <select class="form-control input-medium" id = "type" name = "type">
                                        <foreach name="exchange_type_type" item="value" key="key" >
                                            <option value="<{$key}>"><{$Think.lang.$value}></option>
                                        </foreach>
                                    </select>
                                    <span class="help-block"><{$Think.lang.exchange_type_type_select}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_mail}></label>
                                <div class="col-md-9">
                                    <select class="form-control input-medium" id = "goods" name = "goods">
                                        <option value="0"><{$Think.lang.please_select}></option>
                                        <foreach name="vMailList" item="value" key="key" >
                                            <option value="<{$key}>"><{$value}></option>
                                        </foreach>
                                    </select>
                                    <span class="help-block"><{$Think.lang.exchange_type_mail_select}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_server}></label>
                                <div class="col-md-9 radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" id="server_type_all" name="server_type" value="all" /><{$Think.lang.all_server}>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="server_type_check" name="server_type" value="check" /><{$Think.lang.select_server}>
                                    </label>
                                    <span class="help-block"><{$Think.lang.exchange_type_server_select}></span>
                                </div>
                            </div>

                            <div class="form-group" id="server_radio">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_server}></label>
                                <div class="col-md-9">
                                    <foreach name="vServer" item="value" key="key">
                                        <label class="checkbox">
                                            <input type="checkbox" id="server<{$key}>" name="server[]" value="<{$key}>" />
                                            <php>$i=1;</php>S<{$key}>-<foreach name="value.channel" item="val" key="k" ><eq name="i" value="1"><{$val.name}><php>$i=0;</php><else />/<{$val.name}></eq></foreach>
                                        </label>
                                    </foreach>
                                    <span class="help-block"><{$Think.lang.exchange_type_server_select}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_channel}></label>
                                <div class="col-md-9 radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" id="channel_type_all" name="channel_type" value="all" /><{$Think.lang.all_channel}>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="channel_type_check" name="channel_type" value="check" /><{$Think.lang.select_channel}>
                                    </label>
                                    <span class="help-block"><{$Think.lang.exchange_type_channel_select}></span>
                                </div>
                            </div>

                            <div class="form-group" id="channel_radio">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_channel}></label>
                                <div class="col-md-9">
                                    <foreach name="vChannel" item="value" key="key">
                                        <label class="checkbox">
                                            <input type="checkbox" id="channel<{$key}>" name="channel[]" value="<{$key}>" />
                                            <{$key}>-<{$value}>
                                        </label>
                                    </foreach>
                                    <span class="help-block"><{$Think.lang.exchange_type_channel_select}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_level_low}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" id="level" name="level" >
                                    <span class="help-block"><{$Think.lang.exchange_level_low_input}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_repeat_use_count}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" id="repeat" name="repeat" >
                                    <span class="help-block"><{$Think.lang.exchange_repeat_use_count_input}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_use_count}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" id="use_count" name="use_count" >
                                    <span class="help-block"><{$Think.lang.exchange_type_use_count_input}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_use_count_diff}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" id="use_count_diff" name="use_count_diff" >
                                    <span class="help-block"><{$Think.lang.exchange_type_use_count_diff_input}></span>
                                </div>
                            </div>

                            <!-- **************************** 时间选择 **************************** -->

                            <script type="text/javascript">
                                $(document).ready(function(){

                                    $("#starttime").attr('disabled',true);
                                    $("#endtime").attr('disabled',true);
                                    $("#starttime").val('');
                                    $("#endtime").val('');
                                    $("#starttime_checkbox").attr('checked',true);
                                    $("#endtime_checkbox").attr('checked',true);

                                    $("#starttime_checkbox").change(function(){
                                        if($("#starttime_checkbox").attr('checked') == 'checked'){
                                            $("#starttime").val('');
                                            $("#starttime").attr('disabled',true);
                                        }else{
                                            $("#starttime").val('<{$time.starttime}>');
                                            $("#starttime").attr('disabled',false);
                                        }
                                    });

                                    $("#endtime_checkbox").change(function(){
                                        if($("#endtime_checkbox").attr('checked') == 'checked'){
                                            $("#endtime").val('');
                                            $("#endtime").attr('disabled',true);
                                        }else{
                                            $("#endtime").val('<{$time.endtime}>');
                                            $("#endtime").attr('disabled',false);
                                        }
                                    });

                                    $("#starttime").focus(function(){
                                        WdatePicker({
                                            dateFmt:'yyyy-MM-dd HH:mm:ss',
                                            minDate:'%y-%M-%d 00:00:00',
                                            maxDate:'#F{$dp.$D(\'endtime\')}'
                                        });
                                    });
                                    $("#starttime_button").click(function(){
                                        WdatePicker({
                                            el:'starttime',
                                            dateFmt:'yyyy-MM-dd HH:mm:ss',
                                            minDate:'%y-%M-%d 00:00:00',
                                            maxDate:'#F{$dp.$D(\'endtime\')}'
                                        });
                                    });
                                    $("#endtime").focus(function(){
                                        WdatePicker({
                                            dateFmt:'yyyy-MM-dd HH:mm:ss',
                                            minDate:'#F{$dp.$D(\'starttime\')||\'%y-%M-%d 00:00:00\'}'
                                        });
                                    });
                                    $("#endtime_button").click(function(){
                                        WdatePicker({
                                            el:'endtime',
                                            dateFmt:'yyyy-MM-dd HH:mm:ss',
                                            minDate:'#F{$dp.$D(\'starttime\')||\'%y-%M-%d 00:00:00\'}'
                                        });
                                    });

                                });
                            </script>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <{$Think.lang.exchange_type_starttime}>
                                    (<input type="checkbox" id="starttime_checkbox" name="time_box[]" value="starttime" /><{$Think.lang.no_limit}>)
                                </label>
                                <div class="col-md-9 input-medium">
                                    <div class="input-group input-medium">
                                        <input id="starttime" name="starttime" class="form-control" type="text" value="" />
                                        <span class="input-group-btn">
                                            <button id="starttime_button" class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span class="help-block"><{$Think.lang.exchange_type_starttime_input}></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <{$Think.lang.exchange_type_endtime}>
                                    (<input type="checkbox" id="endtime_checkbox" name="time_box[]" value="endtime" /><{$Think.lang.no_limit}>)
                                </label>
                                <div class="col-md-9 input-medium">
                                    <div class="input-group input-medium">
                                        <input id="endtime" name="endtime" class="form-control" type="text" value="" />
                                        <span class="input-group-btn">
                                            <button id="endtime_button" class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span class="help-block"><{$Think.lang.exchange_type_endtime_input}></span>
                                </div>
                            </div>

                            <!-- **************************** 时间选择 **************************** -->

                            <div class="form-group">
                                <label class="col-md-3 control-label"><{$Think.lang.exchange_type_lifetime}></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="lifetime" name="lifetime" value="0" >
                                    <span class="help-block"><{$Think.lang.exchange_type_lifetime_input}></span>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue"><i class="fa fa-plus"></i>&nbsp;<{$Think.lang.add}></button>

                            <button type="button" class="btn" onclick="javascript:window.location.href='__URL__&p=<{$pg}>';"><i class="fa fa-undo"></i>&nbsp;<{$Think.lang.return}></button>

                        </div>

                    </form>

                    <!-- END FORM-->

                </div>

            </div>

            <!-- END SAMPLE FORM PORTLET-->

        </div>
        <!-- END PAGE CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer" />
