</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner" style="margin-left:40%;">
        2014 &copy; Forever Game Network Technology Co., Ltd.
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/plugins/respond.min.js"></script>
<script src="__PUBLIC__/plugins/excanvas.min.js"></script>
<![endif]-->


<script src="__PUBLIC__/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
<script src="__PUBLIC__/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN DATA ONLINE COUNT PLUGINS -->
<script src="__PUBLIC__/plugins/flot/jquery.flot.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="__PUBLIC__/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END DATA ONLINE COUNT  PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/scripts/app.js" type="text/javascript"></script>
<script src="__PUBLIC__/scripts/index.js" type="text/javascript"></script>
<script src="__PUBLIC__/scripts/tasks.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript" src="__PUBLIC__/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script>
    jQuery(document).ready(function() {
        App.init(); // initlayout and core plugins
    });

    if('<{$alert}>' != ''){
        alert('<{$Think.lang.$alert}>');
    }
</script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>