<include file="Public/header" />

<include file="Public/sidebar" />

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <include file="Public/tableStartEmpty" />
        <a href="__URL__/add&p=<{$pg}>" style="color:whitesmoke;"><{$Think.lang.gm_notice_add}></a>
        <include file="Public/tableMiddle" />

        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr>
                    <th><{$Think.lang.server}></th>
                    <th><{$Think.lang.channel}></th>
                    <th><{$Think.lang.notice_tab}></th>
                    <th><{$Think.lang.notice_title}></th>
                    <th><{$Think.lang.notice_hot}></th>
                    <th><{$Think.lang.priority}></th>
                    <th><{$Think.lang.starttime}></th>
                    <th><{$Think.lang.endtime}></th>
                    <th><{$Think.lang.ctime}></th>
                    <th><{$Think.lang.status}></th>
                    <th colspan="2"><{$Think.lang.operation}></th>
                </tr>
            </thead>
            <tbody>
                <volist name="vTable" id="value">
                <tr>
                    <td><{$value.server_name}></td>
                    <td><{$value.channel_name}></td>
                    <td><{$value.tab}></td>
                    <td><{$value.title}></td>
                    <td><{$Think.lang.$value[hot]}></td>
                    <td><{$value.priority}></td>
                    <td><{$value.starttime}></td>
                    <td><{$value.endtime}></td>
                    <td><{$value.ctime}></td>
                    <td>
                        <{$value.status}>
                        <a href="__URL__/status&p=<{$pg}>&id=<{$value.index}>">[<{$Think.lang.change}>]</a>
                    </td>
                    <td><a href="__URL__/edit&p=<{$pg}>&id=<{$value.index}>"><{$Think.lang.edit}></a></td>
                    <td><a href="__URL__/delete&p=<{$pg}>&id=<{$value.index}>"><{$Think.lang.delete}></a></td>
                </tr>
                </volist>
            </tbody>
        </table>

        <{$vPageBar}>
        <include file="Public/tableEndEmpty" />

    </div>

</div>

<include file="Public/footer" />