<include file="Public/header" />

<include file="Public/sidebar" />

<div class="page-content" style="min-height:648px !important">

    <div class="container-fluid">

        <include file="Public/tableStart" />
        <a href="__URL__/add&p=<{$pg}>" style="color:whitesmoke;"><{$Think.lang.admin_add}></a>
        <include file="Public/tableMiddle" />

        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr>
                    <th><{$Think.lang.admin_id}></th>
                    <th><{$Think.lang.admin_account}></th>
                    <th><{$Think.lang.admin_nickname}></th>
                    <th><{$Think.lang.admin_status}></th>
                    <th colspan="3"><{$Think.lang.operation}></th>
                </tr>
            </thead>
            <tbody>
                <volist name="vTable" id="value">
                <tr>
                    <td><{$value.uid}></td>
                    <td><{$value.username}></td>
                    <td><{$value.nickname}></td>
                    <td><a href="__URL__/status&id=<{$value.uid}>&p=<{$pg}>"><{$value.status}></a></td>
                    <td><a href="__URL__/edit&id=<{$value.uid}>&p=<{$pg}>"><{$Think.lang.edit}></a></td>
                    <td><a href="__URL__/permission&id=<{$value.uid}>&p=<{$pg}>"><{$Think.lang.permission}></a></td>
                    <td><a href="__URL__/server&id=<{$value.uid}>&p=<{$pg}>"><{$Think.lang.server}></a></td>
                </tr>
                </volist>
            </tbody>
        </table>

        <{$vPageBar}>
        <include file="Public/tableEnd" />

    </div>

</div>

<include file="Public/footer" />