<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript">

    function format(txt,compress/*是否为压缩模式*/){/* 格式化JSON源码(对象转换为JSON文本) */
        var indentChar = '    ';
        if(/^\s*$/.test(txt)){
            alert('数据为空,无法格式化! ');
            return;
        }
        try{var data=eval('('+txt+')');}
        catch(e){
            alert('数据源语法错误,格式化失败! 错误信息: '+e.description,'err');
            return;
        };
        var draw=[],last=false,This=this,line=compress?'':'\n',nodeCount=0,maxDepth=0;

        var notify=function(name,value,isLast,indent/*缩进*/,formObj){
            nodeCount++;/*节点计数*/
            for (var i=0,tab='';i<indent;i++ )tab+=indentChar;/* 缩进HTML */
            tab=compress?'':tab;/*压缩模式忽略缩进*/
            maxDepth=++indent;/*缩进递增并记录*/
            if(value&&value.constructor==Array){/*处理数组*/
                draw.push(tab+(formObj?('"'+name+'":'):'')+'['+line);/*缩进'[' 然后换行*/
                for (var i=0;i<value.length;i++)
                    notify(i,value[i],i==value.length-1,indent,false);
                draw.push(tab+']'+(isLast?line:(','+line)));/*缩进']'换行,若非尾元素则添加逗号*/
            }else   if(value&&typeof value=='object'){/*处理对象*/
                draw.push(tab+(formObj?('"'+name+'":'):'')+'{'+line);/*缩进'{' 然后换行*/
                var len=0,i=0;
                for(var key in value)len++;
                for(var key in value)notify(key,value[key],++i==len,indent,true);
                draw.push(tab+'}'+(isLast?line:(','+line)));/*缩进'}'换行,若非尾元素则添加逗号*/
            }else{
                if(typeof value=='string')value='"'+value+'"';
                draw.push(tab+(formObj?('"'+name+'":'):'')+value+(isLast?'':',')+line);
            };
        };
        var isLast=true,indent=0;
        notify('',data,isLast,indent,false);
        return draw.join('');
    }


    $(document).ready(function(){
        var jsonFormat = format('<{$vJson}>');
        $('#content').val(jsonFormat);

        $("#mainform").submit(function(){

            if(!confirm("<{$Think.lang.ver_list_save_confirm}>")){
                return false;
            }
            return true;
        });

        $("#release").click(function(){

            if(!confirm("<{$Think.lang.ver_list_release_confirm}>")){
                return false;
            }
            $.get("__URL__/release", function(data){
                alert(data);
            });
        });


    });

</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">

            <!-- BEGIN SAMPLE FORM PORTLET-->

            <div class="portlet box blue">

                <div class="portlet-title">

                    <div class="caption"><i class="fa fa-refresh"></i><{$Think.lang.ver_list}></div>

                </div>

                <div class="portlet-body form">

                    <form action="__URL__/edit" method="POST" id="mainform" class="form-horizontal" enctype="multipart/form-data">

                        <div class="form-body">

                            <foreach name="vData" item="value" key="key" >

                                <div class="form-group">
                                    <label class="col-md-3 control-label">sqlite[<{$key}>]</label>
                                    <label class="">
                                        <{$Think.lang.db_sqlite_size}>:<{$value.sqliteSize}><br />
                                        <!--<{$Think.lang.db_sqlite_zip_size}>:<{$value.sqliteZipSize}><br />-->
                                        <{$Think.lang.db_sqlite_md5}>:<{$value.sqliteZipMd5}>
                                    </label>
                                </div>

                            </foreach>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea type="text" class="form-control" id="content" name="content" rows="25"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="fa fa-save"></i>&nbsp;<{$Think.lang.save}></button>
                            <button type="button" id="release" class="btn blue"><i class="fa fa-cloud"></i>&nbsp;<{$Think.lang.release}></button>
                        </div>

                    </form>

                </div>

            </div>

            <!-- END SAMPLE FORM PORTLET-->

        </div>
        <!-- END PAGE CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer" />