<include file="Public/header" />

<include file="Public/sidebar" />

<script type="text/javascript">
    $(document).ready(function(){

        $('#openAll').click(function(){
            $.get("__URL__/channelOpenAll&server_id=<{$vGet.server_id}>", function(data){
                if(data=='ok'){
                    alert("<{$Think.lang.success}>");
                    var str = '__SELF__';
                    str = str.replace(/amp;/g,'');
                    window.location.href = str;
                }else{
                    alert("<{$Think.lang.fail}>");
                }
            });
        });

        $('#closeAll').click(function(){
            $.get("__URL__/channelCloseAll&server_id=<{$vGet.server_id}>", function(data){
                if(data=='ok'){
                    alert("<{$Think.lang.success}>");
                    var str = '__SELF__';
                    str = str.replace(/amp;/g,'');
                    window.location.href = str;
                }else{
                    alert("<{$Think.lang.fail}>");
                }
            });
        });

        $('#type').val('select');
        $('#type').attr('disabled', false);

        $('#type').change(function(){
            var type = $('#type').val();
            $.get("__URL__/channelChangeAll&server_id=<{$vGet.server_id}>&type=" + type, function(data){
                if(data=='ok'){
                    alert("<{$Think.lang.success}>");
                    var str = '__SELF__';
                    str = str.replace(/amp;/g,'');
                    window.location.href = str;
                }else{
                    alert("<{$Think.lang.fail}>");
                }
            });
        });

    });
</script>

<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:648px !important">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue">

                <div class="portlet-title">

                    <div class="caption"><i class="fa fa-hdd-o"></i><{$Think.lang.server_list}></div>

                    <select class="form-control input-medium" id="type" style="float:left;">
                        <option value="select"><{$Think.lang.change_all_channel_type}></option>
                        <foreach name="vType" item="val" key="k">
                            <option value="<{$k}>"><{$val}></option>
                        </foreach>
                    </select>

                    <div class="tools">
                        <a href="__URL__/channelAdd&server_id=<{$vGet.server_id}>&search_channel_id=<{$vGet.search_channel_id}>&id=<{$vGet.id}>" style="color:whitesmoke;"><{$Think.lang.sm_server_open_channel}></a>
                        &nbsp;&nbsp;|
                        <a id="openAll" href="javascript:;" style="color:whitesmoke;"><{$Think.lang.open_all}></a>
                        &nbsp;&nbsp;|
                        <a id="closeAll" href="javascript:;" style="color:whitesmoke;"><{$Think.lang.close_all}></a>
                        &nbsp;&nbsp;|
                        <a href="__URL__/index&search_channel_id=<{$vGet.search_channel_id}>" style="color:whitesmoke;"><{$Think.lang.return}></a>
                    </div>
                </div>

                <div class="portlet-body">

                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th><{$Think.lang.server_name}></th>
                                <th><{$Think.lang.sm_server_type}></th>
                                <th><{$Think.lang.server_channel}></th>
                                <th><{$Think.lang.server_channel_status}></th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="value">
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $("#type_<{$value.id}>").val('<{$value.type}>');
                                    $("#type_<{$value.id}>").attr('disabled',true);
                                    $("#save_<{$value.id}>").hide();
                                    $("#cancel_<{$value.id}>").hide();
                                    $("#change_<{$value.id}>").click(function(){
                                        $("#type_<{$value.id}>").attr('disabled',false);
                                        $("#change_<{$value.id}>").hide();
                                        $("#save_<{$value.id}>").show();
                                        $("#cancel_<{$value.id}>").show();
                                    });
                                    $("#cancel_<{$value.id}>").click(function(){
                                        $("#type_<{$value.id}>").attr('disabled',true);
                                        $("#change_<{$value.id}>").show();
                                        $("#save_<{$value.id}>").hide();
                                        $("#cancel_<{$value.id}>").hide();
                                    });
                                    $("#save_<{$value.id}>").click(function(){
                                        var url;
                                        if($("#type_<{$value.id}>").val() == '<{$value.type}>'){
                                            url = "javascript:alert('<{$Think.lang.no_update}>');";
                                        }else{
                                            url = $("#save_<{$value.id}>").attr('href');
                                            url += $("#type_<{$value.id}>").val();
                                        }
                                        $("#save_<{$value.id}>").attr('href',url);
                                    });
                                });
                            </script>
                            <tr>
                                <td><{$value.name}></td>
                                <td>
                                    <select class="form-control input-small" id="type_<{$value.id}>">
                                        <foreach name="vType" item="val" key="k">
                                        <option value="<{$k}>"><{$val}></option>
                                        </foreach>
                                    </select>
                                    <a id="change_<{$value.id}>" href="javascript:;">[<{$Think.lang.change}>]</a>
                                    <a id="save_<{$value.id}>" href="__URL__/type&server_id=<{$vGet.server_id}>&search_channel_id=<{$vGet.search_channel_id}>&channel_id=<{$value.id}>&id=<{$vGet.id}>&type=">[<{$Think.lang.save}>]</a>
                                    <a id="cancel_<{$value.id}>" href="javascript:;">[<{$Think.lang.cancel}>]</a>
                                </td>
                                <td><{$value.channel_id}>-<{$value.channel}></td>
                                <td>
                                    <{$value.status}>
                                    <a href="__URL__/channelStatus&server_id=<{$vGet.server_id}>&search_channel_id=<{$vGet.search_channel_id}>&channel_id=<{$value.id}>&id=<{$vGet.id}>">[<{$Think.lang.change}>]</a>
                                </td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>

                </div>
                <!-- END EXAMPLE TABLE PORTLET-->

            </div>
            <!-- END PAGE CONTENT-->

        </div>
        <!-- END PAGE CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->

</div>
<!-- END PAGE -->

<include file="Public/footer" />